.carddetails
    margin: 0px 100px 0px 100px
    display: flex
    flex-direction: column

    .collapses
        display: flex
        justify-content: space-between

    .collapse-container
        width: 582px
        height: 52px

    .collapse-title
        border-radius: 10px
        font-size: 18px

    

    .details
        display: flex
        justify-content: space-between

    .rating
        display: flex
        justify-content: flex-end

@media all and (max-width: 375px)
    .carddetails, .collapses, .details
        display: flex
        flex-direction: column
        margin: 20px 20px 27px 20px

        .collapses, .details
            margin: 0

        .collapse-container
            width: 335px
            height: 30px
            margin-bottom: 15px

        .collapse-title
            font-size: 13px
            font-weight: 500

        .collapse-content
            font-size: 14px
