.carddetails
    margin: 0px 100px 0px 100px

    .collapses
        display: flex
        justify-content: space-between

        .collapse-container
            width: 582px
            height: 52px

            .collapse-title
                border-radius: 10px

            .collapse-content
                width: 582px
                background-color: #F6F6F6
                font-size: 18px
                color: #FF6060

    .details
        display: flex
        justify-content: space-between

    .rating
        display: flex
        justify-content: flex-end

@media all and (max-width: 375px)
    .carddetails, .collapses, .details
        display: flex
        flex-direction: column
        margin: 20px 20px 27px 20px

        .collapses, .details
            margin: 0

            .collapse-container
                width: 335px
                height: 30px

                .collapse-title
                    font-size: 13px
                    font-weight: 500

        .tag
            width: 84px
            height: 18px
            font-size: 10px
            font-weight: 500
            margin-right: 10px
