.tags
    display: flex
    justify-content: flex-start
    margin-bottom: 15px

    .tag
        padding: 0px 10px 0px 10px
        margin-right: 30px
        width: auto
        height: 25px
        font-size: 14px
        font-weight: 500
        background-color: #FF6060
        color: #FFFFFF
        border-radius: 10px
        display: flex
        align-items: center
        justify-content: center

@media all and (max-width: 375px)
    .tags
        margin-bottom: 15px

        .tag
            width: auto
            height: 18px
            font-size: 10px
            font-weight: 500
            margin-right: 10px
